NEXT_PUBLIC_WHATSAPP_COMMUNITY_URL=
NEXT_PUBLIC_LIVE_COURSES_URL=
NEXT_PUBLIC_MENTORSHIP_URL=
NEXT_PUBLIC_RESUME_REVIEW_URL=
NEXT_PUBLIC_RESOURCES_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_CONTACT_EMAIL=hello@theunfilterediitian.com
