NEXT_PUBLIC_WEBSITE_URL=https://theunfilterediitian.com/
NEXT_PUBLIC_WHATSAPP_COMMUNITY_URL=https://chat.whatsapp.com/LwVTLSs0I4A4byXPtVKsMy?mode=gi_t
NEXT_PUBLIC_SOFTWARE_DEVELOPMENT_URL=https://chat.whatsapp.com/EJafT2L3MlD8kIsqNeb9Q5?mode=gi_t
NEXT_PUBLIC_DSA_URL=https://chat.whatsapp.com/JxRojeBCwNYF9hvIdz4tgl?mode=gi_t
NEXT_PUBLIC_MODERN_AI_URL=https://chat.whatsapp.com/KIzq5s5Kd6hAaOrGYZjEXQ?mode=gi_t
NEXT_PUBLIC_LIVE_COURSES_URL=https://chat.whatsapp.com/LwVTLSs0I4A4byXPtVKsMy?mode=gi_t
NEXT_PUBLIC_MENTORSHIP_URL=
NEXT_PUBLIC_RESUME_REVIEW_URL=
NEXT_PUBLIC_RESOURCES_URL=
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/the_unfiltered_iitian/
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/@theunfilterediitian
NEXT_PUBLIC_LINKEDIN_URL=https://in.linkedin.com/in/theunfilterediitian
NEXT_PUBLIC_JOBS_URL=https://www.careerszone.in/
NEXT_PUBLIC_LEETCODE_PLAYLIST_URL=https://www.youtube.com/playlist?list=PLvUq-YEK35km4EJyyLyNHHUK7dqayf_kO
YOUTUBE_API_KEY=
